@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

:root {
  --bgWrapper: #2c3e50;
  --txtTitle: #fff;
  --txtInput: #fff;
  --txtWeather: #d5d4fb;
  --gradientLeft: #9770a9;
  --gradientRight: #2336f2;
  --border: #396ff4;
  --borderBottom: solid 2px rgba(255,255,255,0.06);
  --localBG: rgba(0,0,0,0.35);
  --localBGtxt: rgba(0,0,0,0.5);
  --shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
}

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, var(--gradientLeft), var(--gradientRight));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  box-shadow: var(--shadow);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  background: url("img/weather-bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  padding-top: 75px;
  justify-content: center;
  text-align: center;
  color: var(--txtTitle);
}

.title-container__title {
  color: var(--txtTitle);
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  color: var(--txtTitle);
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  background-color: var(--bgWrapper);
  height: 90vh;
  padding-top: 50px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px var(--border);
  width: 25%;
  padding-bottom: 4px;
  color: var(--txtInput) !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--bgWrapper) inset;
    -webkit-text-fill-color: var(--txtInput) !important;
}

.buttonset {
  display: flex;
  max-width: 100%;
  margin: auto auto 15px auto;;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: var(--border);
  color: var(--txtInput);
  font-weight: 100;
}

button:active {
  outline: none;
}

.local__info {
  background-color: var(--localBG);
  color: var(--txtWeather);
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.local__key {
  color: var(--border);
  background-color: var(--localBGtxt);
  border-bottom: var(--borderBottom);
  padding: 0 0 10px 0;
  font-weight: 900;
}

.local__key:last-child {
  border: 0;
}

.local__value {
  color: var(--txtInput);
  font-weight: 200;
}

.weather__info {
  color: var(--txtWeather);
  width: 60%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.weather__key {
  color: var(--border);
  border-bottom: var(--borderBottom);
  padding: 0 0 10px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: var(--txtInput);
  font-weight: 200;
}

.weather__error {
  color: var(--border);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

/* == CSS Header & Footer == */
.header {
  text-align: center;
}

.header h1 {
  color: var(--txtTitle);
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.header p {
  color: var(--txtTitle);
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.divide-line-header {
  margin-top: 25px;
  width: 35%;
}

.footer {
  position: fixed;
  width: 100%;
  height: 45px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  font-size: 12px;
  color: var(--txtInput);
  text-align: center;
}

.footer a {
  color: var(--txtInput);
  text-decoration: none;
}